[submodule "builder"]
	path = builder
	url = https://github.com/PowerDNS/pdns-builder
[submodule "test/httpmockserver"]
	path = test/httpmockserver
	url = https://github.com/seznam/httpmockserver.git
[submodule "subprojects/pistache"]
	path = subprojects/pistache
	url = https://github.com/oktal/pistache.git
