Source: pdns-sysrepo
Section: net
Priority: optional
Maintainer: Pieter Lexis <pieter.lexis@powerdns.com>
Build-Depends: cmake,
               debhelper (>= 11~),
               libboost-filesystem-dev,
               libboost-program-options-dev,
               libcpprest-dev,
               libmstch-dev,
               libsdbusplus-dev,
               libsysrepo-cpp-dev (>= 1.4.18),
               libsystemd-dev,
               libyang-cpp-dev (>= 1.0.139),
               meson,
               pkg-config,
               python3-sphinx,
               systemd
Standards-Version: 4.1.2
Homepage: https://github.com/PowerDNS/pdns-sysrepo

Package: pdns-sysrepo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Sysrepo plugin for PowerDNS
 This program uses the sysrepo YANG data store
 to write configuration for the PowerDNS Authoritative
 Server.
